<section id="title">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
      <a class="navbar-brand" href="">Jom beli</a>
      <h1>|</h1>
      <a class="navbar-brand" href="">Download</a>
      <h1>|</h1>
      <a class="navbar-brand" href="">Help</a>
  
      <a class="btn-ic" href="#">
        <i class="fab fa-facebook"></i>
      </a>
  
      <a class="btn-ic" href="#">
        <i class="fab fa-instagram"></i>
      </a>
  
      <a class="btn-ic" href="#">
        <i class="fab fa-twitter"></i>
        <!--twitter okay jugak rasa, sene nk marketing-->
      </a>
  
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
        <ul class="navbar-nav ">
  
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
  
        </ul>
  
      </div>
    </nav>
  
  </section>